@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins',sans-serif !important;
}

header{
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./assets/images/bg.jpg) no-repeat top center;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 120%;
}

header .banner-img img{
  height: 200px;
    border-radius: 50%;
    width: 200px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

header .banner {
  display: inline-block;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text h1 {
  /* font: 7vw 'opensans-bold', sans-serif; */
  font-size: 6vw;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

header .banner-text h4{
  font-size: 1.5vw;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

header .scrolldown a{
  position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;
}

header .scrolldown a:hover{
	animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#about{
  /*height: 100vh; */
  background-color: #2B2B2B;
  color: white;
  padding: 60px 60px 60px 80px;
  /* font-size: 2vw; */
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
  /* display: flex;
  justify-content: flex-start; */
}

#about a{
  text-decoration:  none;
  color: white
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;
  background-color: #2B2B2B;
  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
 text-decoration: none;
  text-align: left;
  color: #fff;

 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}



ul#nav li a:active { background-color: transparent !important; color: #F06000;  }
/* ul#nav li.current a { color: #F06000; } */

#projects{
  padding: 60px 60px 60px 60px;
  /* font-size: 2vw; */
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, .2); */
}

.three {
  width: 28%
}

.nine {
  width: 70%;
}

.vertical-timeline::before{
  background:lightgray !important;
}

.vertical-timeline-element-icon{
  box-shadow: 0 0 0 4px lightgray, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05) !important;
}

.vertical-timeline-element-content {
  background: lightgray !important;
  box-shadow: 0 3px 0 grey !important;
}

.download-resume{
  padding: 10px 10px 10px 10px;
  background: gray;
  border-radius: 6px;
}

#footer{
  background: #2B2B2B;
  padding: 50px 50px 50px 50px;
}

.scrollUp{
  left: 50%;
  position: absolute;
  margin:-22px 0px 0px 0px;
}


