@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins',sans-serif !important;
}

header{
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./assets/images/bg.jpg) no-repeat top center;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 120%;
}

header .banner-img img{
  height: 200px;
    border-radius: 50%;
    width: 200px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

header .banner {
  display: inline-block;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text h1 {
  /* font: 7vw 'opensans-bold', sans-serif; */
  font-size: 6vw;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

header .banner-text h4{
  font-size: 1.5vw;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

header .scrolldown a{
  position: absolute;
  bottom: 30px;
  left: 48%;
   /*display: block;
   height: 42px;
   width: 42px; */
}

header .scrolldown a:hover{
	animation: bounce 1s;
}



#about{
  /*height: 100vh; */
  background-color: #2B2B2B;
  color: white;
  padding: 60px 60px 60px;
  /* font-size: 2vw; */
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
  /* display: flex;
  justify-content: flex-start; */
}

#about a{
  text-decoration:  none;
  color: white;
  display: block;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;
  background-color: #2B2B2B;
  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
 text-decoration: none;
  text-align: left;
  color: #fff;

 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}



ul#nav li a:active { background-color: transparent !important; color: #F06000;  }
/* ul#nav li.current a { color: #F06000; } */

#projects{
  padding: 60px 60px 60px;
  /* font-size: 2vw; */
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, .2); */
}

.three {
  width: 28%
}

.nine {
  width: 70%;
}

.vertical-timeline::before{
  background:lightgray !important;
}

.vertical-timeline-element-icon{
  box-shadow: 0 0 0 4px lightgray, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05) !important;
}

.vertical-timeline-element-content {
  background: lightgray !important;
  box-shadow: 0 3px 0 grey !important;
}

.download-resume{
  padding: 10px 10px 10px;
  background: gray;
  border-radius: 6px;
  display: block;
  width: 200px;
  margin: auto;
}

#footer{
  background: #2B2B2B;
  padding: 50px 50px 50px;
}

.scrollUp{
  left: 48%;
  position: absolute;
  margin:-22px 0px 0px 0px;
}

.experience-left{
  position: relative;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  color: #fff;
}
/* CSS For slanted div for experience */
/* 
.experience-left:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.experience-right{
  position: relative;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  color: #fff;
}

.experience-right:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}
.container{
  top: 50%;
  left: 50%;
  height: 300px;
  width: 700px;
  background: #2B2B2B;
  box-shadow: 0 25px 30px  rgba(0, 0, 0, 0.5);
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.left-box{
  width: calc(50% - 50px);
  height: 100%;
  background: #2B2B2B;
  box-sizing: border-box;

}

.right-box{
  width: calc(50% + 50px);
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  border-left: 100px solid #2B2B2B;
  border-bottom: 300px solid transparent;
}

.center-image{
  left: 48%;
  position: absolute;
  margin: -21px 0px 0px 0px;
  margin-top: 120px;
} */


.about-item-container{
  display: inline-flex;
  width: 100%;
}

.about-item{
  width: 33%;
  padding: 10px 10px 10px;
  border-radius: 10px;
  height: 8rem;
  margin-right: 20px;
  text-align: center;
}
.about-item:last-child{
  margin-right: 0px;
}

.about-item-content{
  margin-top:20px;
}

.my-story-container{
  text-align: justify;
  width: 82%;
  margin: auto;
}

.my-story-container a{
  text-decoration: underline !important;
}

.work-icon{
  width: 100%;
  border-radius: 50%;
}
.skip{
  text-align: right;
  font-size: 12px;
}

#skills{
  padding-top: 50px;
  margin-top: -50px;
}

#skills b{
  font-size: 20px;
}

#footer a{
  margin-right: 20px;
}

#footer{
  text-align:center;
}

#footer div{
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .about-item-container{
    display: block;
  }
  .about-item{
    margin-right: 0px;
    width: 100%;
  }
  #about, #projects{
    padding: 10px 10px 10px;
  }
  .my-story-container{
    width: 95%;
    text-align: unset;
  }
  header .scrolldown a, .scrollUp{
    left: 45%;
  }
}











